
$logo-ratio: 2.374645892

#hero-frame
  position: fixed
  z-index: 200
  background: $white
  width: 100vw
  height: 100vw / $logo-ratio

#hero 
  align-items: center
  overflow-x: hidden
  transform-origin: center top
  overflow: visible 
  display: block
  padding: 3rem
  width: 100vw

  #boring-logo
    // flex: 1 0 auto

.main.grid
  margin-top: 120vw / $logo-ratio


  