html
  overflow-x: hidden
  width: 100%
  height: 100%
  // background: $grey

body
  width: 100%
  height: 100%
  background: $white
  color: $black
  // overflow-y: scroll


// a 
//   text-decoration: underline
//   &:hover, &:active
//     color: $black

a:not(.no-hover)
  color: $link-color
  text-decoration: none
  display: inline-block
  position: relative
  padding: 0 0.5rem
  transition: all 250ms
  z-index: 1000
  line-height: 1.4
  border: none
  &:before
    content: ""
    z-index: -1
    width: 100%
    height: 1%
    border: 0.5px solid $link-color
    bottom: 0
    left: 0
    position: absolute
    transition: height 250ms, border-width 250ms
  &:hover
    &:before
      border-width: 1px
      height: 108%
      

  &[target="_blank"]
    .icon
      margin-left: 0.125rem
      height: 0.75rem
      width: 0.75rem
      font-size: 0.75rem
      line-height: 1
      // transform: translateY(0.125rem)

.button
  +z-depth-transition()
  +z-depth-2dp()
  border: none
  font-weight: 400

  &:hover
    +z-depth-focus()

#debug
  border: 1px solid $red

.stroke 
  +text-stroke()

.icon.is-large
  font-size: 2rem
  // line-height: 1.2

#map
  width: 100%
  height: 100%

.card
  box-shadow: none

.image
  transition: filter 1s ease-out
  &.blurred
    border: 2px solid $blue
    filter: blur(64px)

.initially-invisible
  display: none

pre
  overflow-x: scroll

.shrug 
  @extend .title
  @extend .is-2






