html
  overflow-x: hidden
  height: 100%
  // background: $grey

body
  height: 100%
  background: $white

a:hover, a:active
  color: $black

#debug
  border: 1px solid $red

.stroke 
  +text-stroke()

.icon.is-large
  font-size: 2rem

//           _   _    _
//  __ _ _ _| |_(_)__| |___
// / _` | '_|  _| / _| / -_)
// \__,_|_|  \__|_\__|_\___|
article.single
  padding-top: 64vh !important

  & > section
    width: 640px
    background: $white
    box-shadow: 10px 10px 0px 0px rgba($black,0.81)
    border: 2px solid rgba($black,0.81)
    position: absolute
    
    &:hover
      cursor: move


.controls a 
  color: $black
  background: $red

+mobile
  article.single > section
    width: 100vw


//                           _
// __ _____ _ _ ___ _ _  ___(_)
// \ V / _ \ '_/ _ \ ' \/ _ \ |
//  \_/\___/_| \___/_||_\___/_|

svg#vornoi-pattern
  z-index: 301
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  pointer-events: none

  .cells
    path
      pointer-events: reset
      transform: scale(0)
      stroke-width: 2px




