footer#footer
  background: transparent
  position: fixed
  bottom: 0
  width: 100vw
  z-index: 1
  padding-bottom: 1.5rem

  ul
    margin: 0
    display: flex
    flex-direction: column
    align-items: flex-start;

  li 
    flex: 0 0 auto

    &.small
      font-size: $size-small

    &.margin
      margin-bottom: 0.5rem

    a
      display: flex
      text-decoration: none

      .icon
        flex: 0 0 auto
        height: 0.75rem

      .text
        flex: 0 0 auto



    