#gradient
  position: fixed
  top: 0
  left: 0
  z-index: 0
  pointer-events: none

  .gradients
    rect
      mix-blend-mode: multiply
      // mix-blend-mode: difference
      // mix-blend-mode: exclusion

#masks
  use
    mix-blend-mode: difference