#gradient
  position: fixed
  top: 0
  left: 0
  z-index: 3
  pointer-events: none

  #gradients
    rect
      // mix-blend-mode: multiply
      // mix-blend-mode: exclusion
      // mix-blend-mode: difference
      
      mix-blend-mode: screen
      // mix-blend-mode: hard-light

#masks
  use
    mix-blend-mode: difference