
.grid-wrap
  pointer-events: none
  opacity: 0
  padding: 0
  margin: 0
  z-index: 2
  position: relative
  width: 100%
  overflow: hidden


#grid
  position: relative
  width: 100vw
  height: 100%
  
  // display: flex
  // flex-direction: column

  display: grid
  grid-auto-rows: 1.5rem
  +columns(24)

  $gap: 1px
  grid-column-gap: $gap
  grid-row-gap: $gap
  
  justify-content: stretch
  justify-items: center
  grid-auto-flow: row
  
  .grid-item 
    position: relative;
    -webkit-backface-visibility: hidden
    -webkit-perspective: 1000
    // mix-blend-mode: multiply
    background: transparent
    // background: $yellow
    // border: 1px solid $grey

    // padding: 9rem 1.5rem
    display: flex
    z-index: 2

    
    align-self: stretch
    justify-self: stretch

    grid-row: span 1
    grid-column: span 2

    +mobile 
      grid-column: span 12

    +tablet
      grid-column: span 4
    
    +desktop
      grid-column: span 4
    
    +widescreen
      grid-column: span 4
    
    +fullhd
      grid-column: span 3

    // grid-row: 1 / span 2

    &[data-emphasis]
      border: 4px solid #ff0000

    & > .content
      -webkit-backface-visibility: hidden
      -webkit-perspective: 1000
      display: flex
      flex: 1 0 auto
      z-index: 1
      margin: 0
      pointer-events: all
      position: relative
      width: 100%
      height: 100%
      overflow: hidden
      +z-depth-4dp
      
      &:hover
        cursor: pointer

      .image
        z-index: 0
        flex: 1 0 auto
        position: absolute
        top: 0%
        left: 0%
        width: 100%
        height: 100%
        background-size: cover
        background-repeat: no-repeat
        background-position: center center
        overflow: hidden

      .overlay
        display: flex
        flex-direction: column
        flex-wrap: wrap
        flex: 1 0 auto
        z-index: 1
        margin: 0
        pointer-events: all
        position: relative
        width: 100%
        height: 100%

        opacity: 0
        transition: opacity 0.24s linear
        pointer-events: none
        &.active
          opacity: 1
          pointer-events: all

      .caption
        margin: 1.5rem 1rem
        z-index: 1
        flex: 1 0  auto
        // position: relative
        // @extend .title
        // @extend .is-2
        font-size: 2rem
        font-weight: 800
        color: $black
        filter: url(#inset-shadow-1)

      .button
        margin: 1.5rem 1rem
        z-index: 1
        flex: 0 0 auto
        width: 6rem
        height: 3rem
        font-weight: 800
        +z-depth-4dp()

  
    .text
      // color: $grey
      color: $black
      pointer-events: none
      // mix-blend-mode: multiply
      // color: #FF9E4F
      // +z-depth-2dp()
      // border: 1px solid $red

      font-weight: 700
      line-height: 0.81
      position: absolute
      left: 0
      top: 0
      // top: -3rem
      z-index: 2
      pointer-events: none