
#search-btn
  position: relative
  display: flex
  align-content: center
  flex-direction: column


#menu
  background: transparent
  +layer(4)
  flex-direction: column
  align-items: flex-end
  pointer-events: none

  .button
    border: none

  .items
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end

    .button
      height: 3rem
      pointer-events: all
      flex: 1 0 auto
      margin-bottom: 1rem
      background: transparent
      
      // font-size: 2rem
      font-weight: 700
      
      padding: 0 1rem
      +z-depth-4dp()
      +z-depth-transition()
      
      &:hover, &:focus, &:active
        +z-depth-focus()

#toc-btn
  margin-bottom: 1rem
  margin-top: 1rem
  margin-right: 0
  width: 48px
  height: 48px
  padding: 0
  pointer-events: all
  background: transparent

  +z-depth-4dp()
  +z-depth-transition()
  
  &:hover, &:focus, &:active
    +z-depth-focus()
  
  svg#menu-icon
    background: transparent
    flex: 1 0 auto 
    z-index: 2
    transform: scale(0.8)


#search
  background: #ffff00
  .input
    margin-left: 1rem
    margin-right: 1rem
    align-self: center




  
