
#search-btn
  position: relative
  display: flex
  align-content: center
  flex-direction: column


#menu
  +layer(4)
  flex-direction: column
  align-items: flex-end


#toc-btn
  position: fixed
  top: 1rem
  right: 1rem
  width: 48px
  height: 48px
  padding: 0
  pointer-events: all
  background: transparent
  z-index: 2


  +z-depth-4dp
  +z-depth-transition
  
  &:hover, &:focus, &:active
    +z-depth-4dp

  &[data-open="1"]
    +z-depth-0dp
  
  svg#menu-icon
    background: transparent
    flex: 1 0 auto 
    z-index: 2
    transform: scale(0.8)

#sidebar
  height: 100%
  width: 280px
  position: relative
  z-index: 1

  +z-depth-2dp
  transition: transform 0.42s ease-out
  transform: translateX(0)
  &.hidden
    transform: translateX(100%)

  ul.items
    padding: 6rem 1rem 3rem 1rem
    display: flex
    flex-direction: column
    justify-content: flex-end
    align-items: flex-end

    li.item
      @extend .smallcaps
      margin-bottom: 1.5rem
      pointer-events: all
      flex: 0 0 auto
      transition: text-decoration 250ms

      a.active
        &:before
          border-width: 1px
          height: 76%

        &:after
          content: ""
          z-index: -1
          width: 0
          height: 50%
          border-bottom: 2px solid $link-color
          top: 0
          left: -4%
          position: absolute
          transition: width 250ms

        &:hover
          &:after          
            width: 108%


#search
  background: #ffff00
  .input
    margin-left: 1rem
    margin-right: 1rem
    align-self: center




  
