<div class="grid-wrap">
  {{ $conentTypes := .Params.conentTypes}}
  <div id="grid" class="main grid">
    {{ range (where .Site.Pages "Type" "in" (slice "architecture" "design" "studio")) }} 
    
      <section 
        class="grid-item"
        id="{{ .Params.id }}"
        data-caption="{{ .Title }}"
        data-link="{{ .Permalink }}"
        data-visible="{{ in $conentTypes .Params.type }}"
        data-type="{{ .Params.type }}" >
        
        <div class="frame">
          <div class="content">
            <div class="image-frame pattern watch">
              <div class="worker image filter blurred" 
                   style="background-image: url({{ .Params.image.tiny }})"
                   id="img-{{ .Params.id }}"
                   data-image-url="{{ .Params.image.url }}" >
              </div>
              <div  class="worker image overlay" 
                  style=""
                  id="o-img-{{ .Params.id }}"
                  data-image-url="{{ .Params.image.url }}" >
              </div>
            </div>
            
          </div>  
          <div class="caption-frame"> 
            <div class="caption"> 
              <div class="title is-3"> {{ .Title }} </div>
              <!-- <a href="{{ .Permalink }}" class="button no-hover"> more > </a> -->
            </div>
            </div>
        </div>  
      </section>

    {{ end }}
  </div>
</div>
