
<div id="filter-wrap">
  
  <button id="filter" class="button">
    <span class="icon">
      <i class="material icon is-large">filter_list</i>
    </span>
  </button>

  <div class="field is-grouped">
    {{ range .Site.Data.settings.filters  }}
      <!-- <p class="control">
        <a class="button is-warning">
          {{.}}
        </a>
      </p> -->
      <label class="filter checkbox">
        <input type="checkbox" filter="{{.}}" checked=true>
        <span class="text-wrap">
          {{.}}
        </span>
      </label>
    {{ end }}
  </div>

</div>
