<div class="grid-wrap">
  {{ $conentTypes := .Params.conentTypes}}
  <div id="grid" class="main grid">
    {{ range (where .Site.Pages "Type" "in" (slice "architecture" "design" "studio" "snippet")) }} 
      <section 
        class="grid-item"
        id="{{ .Params.id }}"
        data-caption="{{ .Title }}"
        data-link="{{ .Permalink }}"
        data-visible="{{ in $conentTypes .Params.type }}"
        data-type="{{ .Params.type }}" >
        
          {{ if .Params.image }}
              <div class="image-frame pattern watch">
                <div class="worker image filter blurred" 
                     style="background-image: url({{ .Params.image.tiny }})"
                     id="img-{{ .Params.id }}"
                     data-image-url="{{ .Params.image.url }}" >
                </div>
                <div  class="worker image overlay" 
                    style=""
                    id="o-img-{{ .Params.id }}"
                    data-image-url="{{ .Params.image.url }}" >
                </div>
                <div class="caption"> 
                  <div class="title is-3"> {{ .Title }} </div>
                </div>
              </div>
          {{ else }}
              <div class="text-frame">
                {{ .Content }}
              </div>
          {{ end }}

      </section>

      {{ if .Params.label }}
        <div class="label" id="{{ .Params.id }}-label">
          <span>{{ .Params.label }}</span>
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
