{{ $paginator := .Paginate (where .Data.Pages "Type" "entry") }}

<div id="grid-wrap">
<div id="grid" class="main grid">
  {{ range $paginator.Pages }}

    {{ $image := index .Params.images 0 }}

    <section 
      class="grid-item section"
      data-visible="1"
      {{ with .Params.id }}       id="{{ . }}"                  {{ end }} 
      {{ with .Title }}           data-caption="{{ . }}"        {{ end }} 
      {{ with .Params.emphasis }} data-emphasis="{{ . }}"       {{ end }}
      {{ with .Params.category }} data-category="{{ . }}"       {{ end }} 
      {{ with $image.url }}       data-image-url="{{ . }}"      {{ end }} 
      {{ with $image.palette }}   data-image-palette="{{ . }}"  {{ end }} 
      {{ with $image.info }}      data-image-info="{{ . }}"     {{ end }} >

      <div class="content" href="{{ .Permalink }}">
        <div class="image" style="background-image: url({{ $image.tiny }})">
        </div>       
           
      </div>  
      <div class="text">
        <div class="text-frame">
          <!-- <a href="{{ .Permalink }}"> -->
            <!-- <span>{{ .Params.title }}</span> -->
          <span>{{ .Params.tag }}</span>
            <!-- <span>{{ .Params.id }}</span> -->
          <!-- </a> -->
        </div>
      </div>
    </section>
  {{ end }}
</div>
</div>

<!-- <div class="page-load-status">
  <p class="infinite-scroll-request"></p>
</div>

{{ if .Paginator.HasNext }} 
  <div id="next" class="container is-fluid">
    <a class="button" href="{{ .Paginator.Next.URL }}">next</a>
  </div>  
{{ end }} -->