<div class="grid-wrap">
  {{ $conentTypes := .Params.conentTypes}}
  <div id="grid" class="main grid">
    {{ range .Params.items }} 
        
          {{ if (eq .contentType "image") }}
            <section 
              class="grid-item"
              id="{{ .id }}"
              data-caption="{{ .Title }}"
              data-link="{{ .Permalink }}"
              data-type="{{ .type }}"
              data-content-type="{{ .contentType }}"
              data-ratio="{{ .image.ratio }}"
              data-visible="{{ in $conentTypes .type }}" >
                    <div class="image-frame pattern watch">
                      <div class="worker image filter blurred" 
                           style="background-image: url({{ .image.tiny }})"
                           id="{{ .image.id }}"
                           data-image-url="{{ .image.url }}" >
                      </div>
                      <div class="worker image overlay" 
                           id="o-{{ .image.id }}"
                           data-image-url="{{ .image.url }}" >
                      </div>
                      <div class="caption"> 
                        <div class="title is-3"> {{ .title }} </div>
                      </div>
                    </div>
            </section>

           <!--  {{ if .label }}
              <div class="label" id="{{ .id }}-label">
                <span>{{ .label }}</span>
              </div>
            {{ end }} -->

          {{ else if (eq .contentType "text") }}
            <section 
              class="grid-item"
              id="{{ .id }}"
              data-type="{{ .type }}"
              data-content-type="{{ .contentType }}" >
                <div class="text-frame">
                  {{ .text | markdownify }}
                </div>
              </section>
          {{ end }}
     
    {{ end }}
  </div>
</div>
