<style type="text/css">

  body {
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }

  #dawn {
    fill: #ffffff;
    opacity: 0;
    pointer-events: none;
  }

  svg#studio-knack {
    z-index: 300;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
  }
  
  g.knack > rect {
    mix-blend-mode: multiply;  
  }
  
  #knack {
    display: none;
  }

  #toc {
    display: none;
  }

  #next {
    display: none;
  }

  #menu {
    display: none;
  }

  #filter-wrap {
    display: none;
  }

  #grid-wrap {
    display: none;
  }
 
</style>