<!-- <button id="home-btn" class="button"></button> -->

<!-- <button id="toc" class="button"> 
  {{ partial "iconset" . }} 
</button> -->

<div id="menu">
  <div id="filters" class="entry">
    <button data-category="{{ . }}" id="filter-btn">
      <i class="material">filter_list</i>
    </button>

    <div class="field">
      <p class="control">
        <button data-category="all" class="button">
          Alles!
        </button>
      </p>
      {{ range .Site.Data.settings.filters  }}
        <p class="control">
          <button data-category="{{ . }}" class="button">
            {{.}}
          </button>
        </p>
      {{ end }}
    </div>
  </div>
  <!-- <div id="search" class="entry">
    <button id="filter-btn"><i class="material">search</i></button>
    <input class="input" type="text" placeholder="Primary input">
  </div> -->
</div>

