<button id="toc" class="button">
  <span class="icon">
    {{ partial "iconset" . }}
  </span>
</button>

<nav id="sidebar">
    <section class="links section has-text-centered">
      <a class="title is-2" href="/">
        {{ .Site.Data.settings.name }}
      </a>
      <a class="title is-2" href="/about">
        about
       </a>
    </section>
  
    <section class="contact section has-text-centered">
      <ul>
        <li>
          <a class="media" target="_blank" href="https://www.google.at/maps/place/Goethestra%C3%9Fe+20,+80336+M%C3%BCnchen,+Germany/@48.136739,11.5561777,17z/data=!4m5!3m4!1s0x479e75f87e0a3cdf:0x4e771d979d68e116!8m2!3d48.136739!4d11.5583664">
            <span class="media-left">
              <i class="material icon is-large">location_on</i>
            </span>
            <span class="media-content">
              Goethestraße 20, 80336 München
            </span>
          </a>
        </li>
        <li>
          <a class="media"  href="tel:+498945216220">
            <span class="media-left">
              <i class="material icon is-large">phone</i>
            </span>
            <span class="media-content">
              +498945216220
            </span>
          </a>
        </li>
        <li>
          <a class="media" href="mailto:hallo@studio-knack.de">
            <span class="media-left">
              <i class="material icon is-large">mail</i>
            </span>
            <span class="media-content">
              hallo@studio-knack.de
            </span>
          </a>
        </li>
      </ul>
    </footer>

    <!-- Hero footer: will stick at the bottom -->
   <!--  <div class="hero-foot">
      <nav class="tabs">
        <div class="container">
          <ul>
            <li class="is-active"><a>Overview</a></li>
            <li><a>Modifiers</a></li>
            <li><a>Grid</a></li>
            <li><a>Elements</a></li>
            <li><a>Components</a></li>
            <li><a>Layout</a></li>
          </ul>
        </div>
      </nav>
    </div> -->
</nav>